@import url("https://fonts.googleapis.com/css2?family=Righteous");

hr {
  background-color: lightgrey;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.componentContainer {
  margin-top: 30px;
}

.artGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.artGridItem {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.artGridItemText {
  margin-bottom: 40px;
  font-family: Righteous, sans-serif;
}

.artGridItemImg {
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  border-radius: 10px;
  height: 620px;
  width: auto;
  transition: 0.1s linear;
  margin-bottom: 50px;
}

.artGridItemImg:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white;
}

.header {
  display: block;
  margin: 0 auto;
  width: 50%;
}
