.landingLogo {
  border-radius: 50%;
  height: 200px;
  width: 200px;

  margin-bottom: 30px;
}

.landingImgs {
  margin-bottom: 100px;
}

.landingDescription {
  font-size: 18px;
  color: lightgrey;
  max-width: 50%;
  margin-left: 25%;
}

.landingGrid {
  width: 80%;
  margin: 200px 10% 0 10%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.landingGridItem {
  --landingGridItemHex: #9dd0f2;
  padding: 20px;
  margin: 0 25px 25px 25px;
  font-size: 25px;
  text-align: center;

  border: 2px solid var(--landingGridItemHex);
  border-radius: 20px;
  box-shadow: 0 0 2px var(--landingGridItemHex),
    0 0 10px var(--landingGridItemHex);

  max-width: 75%;
  overflow: scroll;
  transition: 0.1s linear;

  transform-style: preserve-3d;
}

.landingGridItemTitle {
  padding-bottom: 15px;
  margin-bottom: 50px;
  transition: 0.2s ease-in-out;
  user-select: none;
  background-image: linear-gradient(to right, #9dd0f2, #146499);
  background-repeat: no-repeat;
  background-size: 100px 3px, 100px 100%;
  background-position: center bottom, 0 4px;
}

.landingGridItem:hover {
  box-shadow: 0 0 10px var(--landingGridItemHex),
    0 0 20px var(--landingGridItemHex);
}

.landingGridItem:hover > .landingGridItemTitle {
  background-size: 100% 3px, 100px 100%;
}

.landingGridItemContent {
  font-size: 14px;
}
