.signupContainer {
  background-color: #49484a;
  width: 50%;
  margin-left: 25%;
  padding: 30px 0 75px 0 !important;
  border-radius: 25px;
  box-shadow: 0 0 5px grey, 0 0 10px lightgrey, 0 0 25px white;
}

.signupContainer h1 {
  margin: 10px 0 15px 0;
  font-size: 34px;
}

.signupContainer p {
  color: lightgrey;
  margin-bottom: 30px;
  font-size: 14px;
}

.signupInput {
  width: 50% !important;
  margin: 0 0 15px 25%;
}

.signupInput:not(.lastInput) {
  margin: 0 0 50px 25%;
}

.inputLabel {
  font-size: 17px;
}

.requirements {
  font-size: 13.5px;
  color: lightgrey;
  margin-bottom: 50px;
}

.recaptcha {
  display: inline-block !important;
}
