@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background: #1a202c !important;
  font-family: Poppins, sans-serif;
}

.app {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.font-poppins {
  font-family: Poppins, sans-serif !important;
}

.font-montserrat {
  font-family: Montserrat, sans-serif !important;
}
