@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background: #1a202c !important;
}

.app {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: Poppins, sans-serif;
}

.font-poppins {
  font-family: Poppins, sans-serif !important;
}

.font-montserrat {
  font-family: Montserrat, sans-serif !important;
}

.js-link {
  color: #00eeee;
  text-decoration: none;
  cursor: pointer;
}

.js-link:hover {
  text-decoration: underline;
}

.dropdown-item {
  transition: 0.2s linear !important;
}

.badge {
  font-weight: 500 !important;
}

.tooltip-inner {
  font-family: Poppins, sans-serif !important;
  font-size: 13px !important;
  color: lightgrey;
  user-select: none;
}

.Toastify__toast-body {
  font-family: Poppins, sans-serif !important;
}

.Toastify__close-button {
  border: none !important;
  outline: none !important;
}

button.close {
  border: none !important;
  outline: none !important;
}

::placeholder {
  font-family: Poppins, sans-serif !important;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
