@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background: #1a202c !important;
  scroll-behavior: smooth;
}

.app {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: Poppins, sans-serif;
  align-items: center;
  justify-content: center;
}

.font-poppins {
  font-family: Poppins, sans-serif !important;
}

.font-montserrat {
  font-family: Montserrat, sans-serif !important;
}

.js-link {
  color: #00eeee !important;
  text-decoration: none;
  cursor: pointer;
}

.js-link:hover {
  text-decoration: underline;
}

.dropdown-item {
  transition: 0.2s linear !important;
}

.badge {
  font-weight: 500 !important;
}

.tooltip-inner {
  font-family: Poppins, sans-serif !important;
  font-size: 13px !important;
  color: lightgrey;
  user-select: none;
}

.Toastify__toast-body {
  font-family: Poppins, sans-serif !important;
}

.Toastify__close-button {
  border: none !important;
  outline: none !important;
}

button.close {
  border: none !important;
  outline: none !important;
}

button svg,
a svg {
  margin-right: 8px;
  font-size: 20px;
}

img {
  user-select: none;
}

::placeholder {
  font-family: Poppins, sans-serif !important;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: grey;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
